/* generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    max-width: 1200px;
    margin: 0 auto;
    width: calc(100% / 3);
    padding: 10px;
    display: flex;
    flex-wrap: wrap
}

.card{
    background-color: bisque;
    border-radius: 25px;
}

.text{
    text-align: center;
    padding: 10px 0px;
}

.card img{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
}
